@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #030a17;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(/Images/stars.svg);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about,
#projects,
.blog,
.jobs,
#skills,
.socials {
  width: 100vw;
  min-height: 100vh;
}

.about {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about h1,
h2 {
  color: white;
}

#email {
  color: gray;
  transition: 0.3s;
  font-size: 1.5em;
}

#email:hover {
  color: white;
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  padding: 1rem;
  font-size: 1.2rem;
  color: gray;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  background-color: inherit;
  border: 0;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: black;
  transition-delay: 0.5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: white;
  transition-delay: 0.35s;
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

.resume a {
  color: white;
  font-size: 1.2rem;
}

.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  color: #06132c;
  background-color: #87ceeb;
  position: relative;
}

.sun,
.moon {
  position: absolute;
  top: 50px;
  right: 10%;
  opacity: 0.8;
}

.moon {
  z-index: -1;
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 50px 0;
  align-items: center;
}

.skills h2 {
  color: #06132c;
}

.jobs {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  color: #ededed;
  position: relative;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.job-profile {
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.job-name h3 {
  color: white;
}

.job-name p {
  color: gray;
}

.job-name {
  text-align: left;
}

.date,
.date a {
  color: grey;
}

.socials {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  color: #ededed;
  position: relative;
}

.jobs h2 {
  color: #ededed;
  padding-bottom: 50px;
}

html {
  scroll-behavior: smooth;
}

#dev svg path {
  fill: black;
}

#dev svg rect {
  transition: 0.3s;
  fill: white;
}

#dev svg rect:hover {
  fill: grey;
}

#dev svg path:hover {
  fill: black;
}

#song {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-size: 20px;
  left: 5%;
  top: 10%;
  position: absolute;
  opacity: 0.8;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.social-icons {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  color: grey;
}

.social-icons svg path {
  fill: white;
  transition: 0.3s;
}

.social-icons svg {
  width: 30px;
  transition: 0.3s;
}

#stackoverflow {
  opacity: 1;
  transition: 0.3s;
}

#stackoverflow:hover {
  opacity: 0.5;
}

.social-icons svg path:hover {
  fill: white !important;
}

#btn {
  position: absolute;
  bottom: 5px;
}

#btn svg {
  width: 40px;
  height: 40px;
}

#btn svg polygon {
  fill: grey;
  transition: 0.3s;
}

#btn svg polygon:hover {
  fill: white;
}

.skill-item {
  padding: 10px;
  transition: top ease 0.5s;
  border-radius: 10px;
  position: relative;
  top: 0;
  color: #06132c;
}

.skill-item:hover {
  top: -10px;
}

#item-name {
  display: none;
}

.skill-item img {
  width: 40px;
  height: 40px;
}

.blog {
  color: #ededed;
  text-align: center;
  padding: 50px 0;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

.blog-list {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blog-more a {
  color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5em;
  margin-top: 50px;
}

.blog-more a:hover {
  color: white;
}

.blog-list a {
  height: 100%;
}

.blog-item {
  text-align: left;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  height: 100%;
  border-radius: 10px;
  transition: ease 0.3s;
  top: 0;
  padding: 10px;
  position: relative;
}

.pl-10 {
  padding: 0 20px;
}

#blog-date,
#blog-description {
  opacity: 0.6;
  font-size: 14px;
}

#blog-date {
  margin-top: 0;
}

.blog-avatar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#avatar {
  border-radius: 50%;
}

.blog-item:hover {
  top: -10px;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#post-image {
  border-radius: 5px;
}

.reactions {
  display: flex;
  border-top: 1px solid #030a17;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reactions img {
  width: 20px;
  height: 20px;
}

.my-projects {
  display: grid;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.project {
  width: 100vw;
  padding: 20px;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  top: 0;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  opacity: 0;
  transition: 0.3s;
}

.active {
  opacity: 1;
  z-index: 2;
}

.project-color {
  width: 200px;
  height: 5px;
  position: relative;
  top: 0;
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#role {
  opacity: 0.7;
}

#project-description {
  margin: 40px 0;
  line-height: 25px;
}

.next-button {
  animation: glow 1s infinite;
  cursor: pointer;
}

.project-links {
  justify-content: space-evenly;
}

.project-links a {
  color: white;
  transition: top ease 0.5s;
  top: 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.project-links a:hover {
  top: -10px;
}

@keyframes glow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.project-more a {
  z-index: 100;
}

.mobile {
  display: none;
}

.blog-list .reveal:nth-child(1) {
  transition-delay: 200ms;
}

.blog-list .reveal:nth-child(2) {
  transition-delay: 400ms;
}

.blog-list .reveal:nth-child(3) {
  transition-delay: 600ms;
}

nav {
  position: fixed;
  top: 20px;
  z-index: 4;
  gap: 10px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 5px;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: grey;
  width: 100%;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.15) 50%
    )
    right;
  padding: 5px 10px;
  border-radius: 20px;
  transition: ease-out 0.5s;
  background-size: 200%;
}

nav a.selected {
  background-position: left;
  backdrop-filter: blur(3px);
}

.burger {
  width: 45px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: fixed;
  left: 30px;
  top: 40px;
  display: none;
  z-index: 20;
}

.burger span {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  width: 100%;
  background-color: white;
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

#westernal-logo {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  display: grid;
  place-items: center;
  transition: 0.3s;
  filter: grayscale(100%);
}

#westernal-logo:hover {
  background-color: grey;
}

.shooting-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.shooting-stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animateStars 8s linear infinite;
}

.shooting-stars span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animateStars {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}

.shooting-stars span:nth-child(1) {
  top: 0;
  right: 25%;
  left: initial;
  animation-delay: 0;
  animation-duration: 3s;
}

.about-card {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 600px;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
}

.about-img img {
  border-radius: 50%;
  object-fit: cover;
}

.about-me {
  justify-content: left;
}

.titles {
  opacity: 0.5;
  margin-top: -15px;
  text-align: left;
}

#university {
  color: #87ceeb;
}

.project-info,
.job {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  border-radius: 20px;
}

.job {
  padding: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 950px) {
  .blog-list {
    grid-template-columns: 310px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
  }

  .about-card {
    margin: 0 10%;
  }

  .project {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .about-card {
    margin: 0 20px;
  }

  .project-links {
    flex-direction: column;
    gap: 20px;
  }

  .job-profile {
    gap: 0;
    grid-template-columns: auto;
  }

  .job-name {
    text-align: center;
  }

  .job {
    flex-direction: column;
  }

  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  #resume,
  .blog-more a {
    font-size: 1.5em;
  }

  .skills {
    margin-top: 0;
  }

  nav {
    top: 20px;
    left: 20px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 60px;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transform: translateX(-200%);
    transition: 0.5s;
  }

  nav a {
    border-radius: 5px;
    flex-basis: 0;
    flex: 1 1 0px;
  }

  nav li {
    display: block;
    margin: 20px 0;
  }

  .show {
    transform: translateX(0);
  }

  .burger {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .skill-item {
    font-size: 13px;
  }

  .skills-list {
    column-gap: 0;
  }

  .social-icons {
    column-gap: 10px;
  }
}
