@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --main-color: #161616;
  --secondary-color: #1a1a1a;
  --text-main-color: #8d8d8d;
  --text-secondary-color: #666666;
  --accent-color: #007bff;
  --gradient-color: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(58, 58, 58, 1) 85%
  );
  --error-color: #f44336;
  --toastify-color-dark: #1a1a1a;
}

* {
  box-sizing: border-box;
  font-family: var(--font-main);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--main-color);
  margin: 0;
}

#fullname {
  font-family: var(--font-logo);
  font-size: 28px;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: grid;
}

#last-name {
  background: var(--gradient-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info {
  display: grid;
  gap: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: fixed;
  width: 100%;
  z-index: 4;
  transition: 0.3s;
}

.about,
.projects,
.blog,
.jobs,
.socials,
.error-page {
  padding: 3rem 10%;
  max-height: unset;
  min-height: 100vh;
  place-content: center;
  overflow-y: hidden;
  overflow: hidden;
  color: var(--text-main-color);
}

.skills {
  padding: 3rem 0 10% 0;
}

.about h1,
h2 {
  color: var(--text-main-color);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 34px;
  text-transform: uppercase;
  background: var(--gradient-color);
  padding-bottom: 0 !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-heading {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error-page {
  opacity: 1;
  visibility: visible;
  max-height: unset;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  place-items: center;
}

.error-page .blog-item {
  height: unset;
  text-align: center;
  padding: 30px;
}

#email {
  color: var(--text-secondary-color);
  transition: 0.3s;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  padding: 8px 12px;
  font-size: 1.1rem;
  color: var(--main-color);
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) !important;
  cursor: pointer;
  user-select: none;
  background: var(--text-main-color);
  border: 0;
  font-family: var(--font-main);
  z-index: 1;
  border-radius: 4px;
  min-width: 250px;
  width: 100%;
}

.secondary-btn {
  background: var(--secondary-color);
  color: var(--text-main-color);
}

.resume-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
}

.resume-btn a {
  width: 100%;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: var(--main-color);
  transition-delay: 0.5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: var(--text-secondary-color);
  color: var(--main-color);
  transition-delay: 0.35s;
  border-radius: 4px;
}

.secondary-btn:hover::after {
  background: var(--text-secondary-color);
  color: var(--main-color);
}

.dark-hover:hover::after {
  background: var(--text-main-color);
  color: var(--main-color);
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

.sun,
.moon {
  position: absolute;
  top: 50px;
  right: 10%;
  opacity: 0.8;
}

.moon {
  z-index: -1;
}

.skills-list {
  background: var(--secondary-color);
  display: grid;
  margin-block: auto;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 5rem 0;
  font-size: 0.9rem;
  align-items: center;
  color: var(--text-main-color);
}

.skills-list img {
  filter: grayscale(100%);
}

.contacts-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills-list p {
  margin: 10px 0 0 0;
}

.jobs {
  color: var(--text-secondary-color);
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.job-profile {
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: center;
  align-items: center;
}

.job-name h3 {
  color: var(--text-main-color);
}

.job-name p {
  color: var(--text-secondary-color);
}

.control-btns div {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
}

.control-btns button {
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  border: none;
}

.testimonials {
  margin-block: 150px 3rem;
}

.job-name {
  text-align: left;
}

.socials {
  text-align: center;
  color: var(--text-secondary-color);
  background: var(--secondary-color);
  border-radius: 2rem 2rem 0 0;
  margin-top: 3rem;
  position: relative;
}

.socials-layout {
  display: grid;
  grid-gap: 1rem;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

header #StackOverflow {
  display: none;
}

.spinner {
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-right-color: var(--text-secondary-color);
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

#dev svg path {
  fill: black;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#dev svg rect {
  transition: 0.3s;
  fill: var(--text-main-color);
}

#song {
  color: var(--text-main-color);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-size: 20px;
  left: 5%;
  top: 10%;
  position: absolute;
  opacity: 0.8;
}

.social-icons svg path {
  fill: var(--text-main-color);
  transition: 0.3s;
}

.social-icons svg {
  width: 30px;
  transition: 0.3s;
}

#stackoverflow {
  opacity: 1;
  transition: 0.3s;
}

.social-icon a {
  color: var(--text-main-color);
}

#btn {
  position: absolute;
  bottom: 5px;
}

.skill-item,
.social-icon {
  padding: 10px;
  transition: top ease 0.5s;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 0;
  color: var(--text-main-color);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  color: var(--text-main-color);
  background: var(--secondary-color);
  bottom: 1rem;
  padding-inline: 1rem;
  width: 100%;
}

.footer-info p {
  font-size: 14px;
}

.skill-item:hover,
.social-icon:hover {
  top: -10px;
}

#item-name {
  display: none;
}

.skill-item img {
  width: 40px;
  height: 40px;
}

.blog {
  color: var(--text-secondary-color);
  text-align: center;
  display: grid;
  grid-template-columns: auto;
}

.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Contain the hover image within the project image div */
}

.project-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Hover Image */
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Initially hidden */
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.project-image:hover .hover-image {
  opacity: 1; /* Fade in hover image on hover */
  z-index: 2;
}

.projects .blog-list {
  grid-template-columns: 1fr 1fr;
}

.my-projects {
  grid-template-columns: auto auto auto;
}

.blog-more a {
  color: var(--text-secondary-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5em;
  margin-top: 50px;
}

.more-button {
  margin-top: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.blog-more a:hover {
  color: var(--text-main-color);
}

.blog-list a {
  height: 100%;
}

.blog-item {
  text-align: left;
  background: var(--secondary-color);
  color: var(--text-main-color);
  height: 100%;
  border-radius: 4px;
  transition: ease 0.3s;
  top: 0;
  position: relative;
}

.project {
  display: grid;
  transition: ease 0.3s;
  grid-template-rows: auto 1fr;
}

.pl-10 {
  padding: 0 20px;
}

#blog-date,
#blog-description {
  opacity: 0.6;
  font-size: 14px;
}

#blog-date {
  margin-top: 0;
}

.blog-avatar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

#avatar {
  border-radius: 50%;
}

.blog-item:hover {
  color: #fff;
}

#post-image {
  border-radius: 5px 5px 0 0;
}

.reactions {
  display: flex;
  border-top: 1px solid var(--main-color);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reactions img {
  width: 20px;
  height: 20px;
}

.active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.project-title h3 {
  margin: 10px 0;
}

.project-color {
  width: 200px;
  height: 5px;
  position: relative;
  top: 10px;
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--secondary-color);
}

.header-icons {
  z-index: 4;
}

#project-description {
  margin: 1rem 0;
  line-height: 25px;
  text-align: left;
}

#project-image {
  border-radius: 5px 5px 0 0;
}

.next-button {
  animation: glow 1s infinite;
  cursor: pointer;
}

.project-info {
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.project-links {
  display: grid;
  gap: 5px;
  margin-top: 2rem;
}

.header-scrolled {
  background-color: var(--main-color);
  box-shadow: 0px 0px 20px 0px black;
}

@keyframes glow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.project-more a {
  z-index: 100;
}

.mobile {
  display: none;
}

nav {
  text-align: center;
  z-index: 4;
  gap: 10px;
  background: var(--secondary-color);
  padding: 10px 5px;
  border-radius: 30px;
}

header svg path,
header svg {
  fill: var(--text-main-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-color);
  border-radius: 10px;
}

ul a {
  display: inline;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  color: var(--text-main-color);
  width: 100%;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.15) 50%
    )
    right;
  padding: 5px 10px;
  border-radius: 20px;
  transition: ease-out 0.5s;
  background-size: 200%;
}

ul a.active {
  background-position: left;
  background: var(--text-main-color);
  color: var(--main-color);
}

.burger {
  width: 50px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: none;
  z-index: 20;
}

.burger span {
  width: 100%;
  height: 4px;
  background: var(--gradient-color);
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  width: 100%;
  background: var(--gradient-color);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}

.burger.active span {
  background: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

#westernal-logo {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--text-main-color);
  display: grid;
  place-items: center;
  transition: 0.3s;
  filter: grayscale(100%);
}

.about-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.about-img {
  position: relative;
  display: grid;
  place-content: center;
}

.about-info p {
  color: var(--text-main-color);
  line-height: 26px;
  font-size: 20px;
}

.about-img img {
  border-radius: 4px;
  object-fit: cover;
}

.about-me {
  justify-content: left;
}

.blog-image {
  position: relative;
  height: 200px;
  filter: grayscale(1);
}

.blog-info {
  padding: 10px;
}

.project-image {
  position: relative;
  height: 200px;
}

.about-me h1 {
  font-size: 30px;
  color: var(--main-color);
}

.titles {
  color: var(--text-secondary-color);
  text-align: left;
  color: var(--secondary-color);
}

#university {
  color: var(--main-color);
  border-bottom: 1px solid var(--secondary-color);
}

.job {
  background: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
}

.job {
  padding: 10px;
  margin-top: 10px;
}

.name {
  gap: 20px;
}

.name span {
  font-size: 4rem;
  font-family: var(--font-logo);
}

.last-name {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 1.3rem;
  margin-top: 10px;
}

.testimonial-card {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  max-width: 600px;
  margin-block: auto;
  margin: 0 auto;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  color: var(--text-main-color);
  text-align: left;
  height: 100%;
}

.testimonial-img img {
  border-radius: 50%;
  object-fit: cover;
}

.tag {
  padding: 2px 5px;
  background: var(--text-main-color);
  color: var(--main-color);
  border-radius: 4px;
  font-size: 12px;
}

#role {
  gap: 5px;
  justify-content: left;
}

.testimonial-info p {
  line-height: 22px;
}

.testimonial {
  justify-content: space-between;
}

.testimonial-titles {
  color: var(--text-secondary-color);
  margin-top: -15px;
  text-align: left;
}

#contact-form {
  display: grid;
  place-items: center;
  width: 100%;
  gap: 1rem;
}

#contact-form input,
#contact-form textarea {
  border: none;
  font-size: 16px;
  border-radius: 0;
  resize: none;
  width: 100%;
  background: transparent;
  transition: 0.3s;
  outline: none;
  padding: 1rem;
  color: var(--text-main-color);
  border-bottom: 1px solid var(--text-secondary-color);
}

.Toastify__toast {
  background: var(--main-color) !important;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-bottom: 1px solid var(--text-main-color);
}

#contact-form .btn {
  margin-top: 2rem;
  display: grid;
  place-content: center;
  width: fit-content;
  font-weight: normal;
}

.input-wrapper {
  width: 100%;
  display: grid;
  gap: 10px;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.hidden {
  opacity: 0;
  visibility: none;
}

@media only screen and (max-width: 1200px) {
  .my-projects {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 950px) {
  .blog-list,
  .projects .blog-list {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .socials-layout {
    grid-template-columns: 1fr;
  }

  .about-card {
    grid-template-columns: 1fr 1fr;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  header .header-icons {
    display: none;
  }

  .my-projects {
    grid-template-columns: auto auto;
  }

  nav {
    position: absolute;
    margin-top: 0;
    top: 10px;
    left: 20px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 60px;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transform: translateX(-200%);
    transition: 0.5s;
  }

  .burger {
    display: block;
  }

  .show {
    transform: translateX(0);
  }
  ul,
  .info {
    flex-direction: column;
  }

  ul a {
    border-radius: 5px;
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 10px 0;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .my-projects {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    padding: 8px 12px;
  }

  .testimonial {
    flex-direction: column-reverse;
    align-items: baseline;
  }

  .about-card {
    grid-template-columns: 1fr;
  }

  .resume-btn {
    grid-template-columns: 1fr;
  }

  .column-mobile {
    flex-direction: column;
  }

  .more-button {
    width: 100%;
  }

  .column-mobile button,
  .column-mobile a {
    width: 100%;
  }

  .name span {
    font-size: 3rem;
  }

  #fullname {
    font-size: 25px;
  }

  .job-profile {
    grid-template-columns: auto;
  }

  .job-name {
    text-align: center;
  }

  .job {
    flex-direction: column;
  }

  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  #resume,
  .blog-more a {
    font-size: 1.5em;
  }

  .skills {
    margin-top: 0;
  }

  .social-icons {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 400px) {
  .skill-item {
    font-size: 13px;
  }

  .skills-list {
    column-gap: 0;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }
}
